body{
    background: rgb(109, 109, 241);
    text-align: center;
    font: normal 15pt italic;
}
footer{
    color: white;
}
section{
    background: rgb(197, 196, 196);
    border-radius: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

}
header{
    color: white;
}
div{
    padding: 10px;
    text-align: center;
}